.section-products {
    margin-bottom: 30px;
    padding: 50px;

    border-radius: 10px;
    background-color: var(--gray2);
}

.section-products h1 {
    margin-bottom: 30px;

    color: var(--gray8);
}

.products-shop-items {
    display: flex;
    align-items: center;
    gap: 20px;

    padding-bottom: 20px;
    max-width: 1500px;
    overflow-x: auto;
}

.products-item {
    display: flex;
    flex-direction: column;
}

.images-item-shop {
    background-color: var(--white);
    width: 350px;
    height: 350px;
    position: relative;
    border-radius: 10px 10px 0 0;
}

.image-item {
    width: 350px;
    height: 350px;
    padding: 10px;
}

.shop-plus {
    padding: 10px;
    position: absolute;
    bottom: 3px;
    right: 10px;
}

.infos-product-shop {
    background-color: var(--gray3);
    padding: 20px;
    display: flex;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    flex-direction: column;
    gap: 20px;
}

.product-name {
    font-size: 20px;
    font-weight: 500;
    color: var(--gray8);
    line-height: 25px;
    letter-spacing: 0%;
}

.price {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.price-item {
    font-size: 16px;
    font-weight: 500;
    color: var(--gray6);
    text-decoration: line-through;
    letter-spacing: 0%;
    line-height: 20px;
}

.price-item-discount {
    font-size: 20px;
    font-weight: 500;
    color: var(--green9);
    line-height: 24px;
    letter-spacing: 0%;

    display: flex;
    align-items: center;
    gap: 5px;
}

.discount-info {
    font-size: 15px;
    font-weight: 500;
    color: var(--green5);
    line-height: 18px;
    letter-spacing: 0%;
}

.div-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

/* estilização do banner */

.banner-shop {
    width: 1445px;
    height: 350px;
    border-radius: 10px;
}