.section-products {
    width: 100%;
    padding: 50px;

    border-radius: 10px;
    background-color: var(--gray2);
}

.section-products h1 {
    margin-bottom: 30px;

    color: var(--gray8);
}

.products-shop-items {
    display: flex;
    align-items: center;
    gap: 20px;

    padding-bottom: 20px;
    max-width: 1500px;
    overflow-x: auto;

    cursor: pointer;
}

.products-item {
    display: flex;
    flex-direction: column;

    /* border radius para a sombra não ficar desconfigurada */
    border-radius: 10px;
}

.images-item-shop {
    width: 350px;
    height: 350px;

    background-color: var(--white);
    border-radius: 10px 10px 0 0;

    position: relative;
}

.image-item {
    width: 350px;
    height: 350px;
    padding: 10px;
}

.shop-plus {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 45px;
    height: 45px;

    background-color: var(--green6);
    border-radius: 100%;

    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}

.infos-product-shop {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 20px;

    background-color: var(--gray3);
    border-radius: 0 0 10px 10px;
}

.product-name {
    color: var(--gray8);
}

.price {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.price-item {
    color: var(--gray6);
    text-decoration: line-through;
}

.price-item-discount {
    display: flex;
    align-items: center;
    gap: 5px;

    color: var(--green9);
}

.discount-info {
    color: var(--green5);
}

.div-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.div-button a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    text-transform: uppercase;
}

/* estilização do banner */

.banner-shop {
    width: 100%;
    margin: 100px 0;

    border-radius: 10px;
}