/* introdução */
.main-inicio {
    display: flex;
    align-items: flex-end;
    min-height: 800px;

    background-image: url(../../images/Introdução.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.main-inicio > div{
    padding: 32px;
    width: 100vw;

    background-color: var(--shadowItem);
    color: var(--gray1);
    border-radius: 10px 10px 0 0;
}

.main-inicio > div > p {
    max-width: 1300px;
    margin: 0 auto;
}

/* serviços */
.main-servicos {
    background-color: var(--gray2);
}

.main-servicos > h2 {
    text-align: center;
    margin-bottom: 60px;
} 

.main-contentCards {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;
}

.cards-servicos {
    height: 491px;
    width: 450px;

    background-color: var(--gray1);
    border-radius: 10px;
}

.cards-servicos img {
    max-width: 450px;
    max-height: 300px;
    width: auto;
    height: auto;
}

.cards-text {
    text-align: center;
    margin: 60px;
}