.main-content-text{
    padding: 80px;

    border-bottom: 4px solid var(--green4);
}

.main-content-text:nth-of-type(even){
    background-color: var(--gray2);
}

.main-content-text > div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 60px;
}

.main-content-text > div > img{
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    flex: 1 1 100px;

    border-radius: 12px;
}

.text-content{
    flex: 1 1 300px;

    display: grid;
    gap: 40px;
}

.text-content h2 {
    color: var(--gray9);
}

.text-content p {
    color: var(--gray8);
}

.text-content div > a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

@media (max-width: 768px){

    .main-content-text{
        padding: 60px;
    }

}

@media (max-width: 480px){
    
    .main-content-text{
        padding: 30px;
    }

}