.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;

    padding: 60px;

    background-color: var(--green5);
    color: var(--gray1);
    border-top: 4px solid var(--green4);
}

.footer > h1,
.footer > div:first-of-type p{
    text-align: center;
}

.footer > div:first-of-type{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
}

.info-item {
    display: flex;
    align-items: center;
    gap: 25px;
}

.info-item img {
    width: 60px;
    height: 60px;
}

.info-item a {
    color: var(--gray1);
    text-decoration: none;

    max-width: 280px;
    text-align: left;

    transition: 0.2s;
}

.info-item a:hover {
    color: var(--gray3);
}

@media (max-width: 480px){

    .footer {
        padding: 40px;
    }

    .info-item img {
        width: 40px;
        height: 40px;
    }

}