.contato-container {
    background-color: var(--green5);
    color: var(--gray1);
    padding: 60px;
    text-align: center;
    margin: 0 auto;

    border-top: 4px solid var(--green4);
}

.contato-container h2 {
    line-height: 1.2;
    font-size: 28px;
    font-weight: bold;
}

.contato-container p {
    font-size: 16px;
    line-height: 1.7;
    padding: 16px;
}

.contato-info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 30px;
    
}

.info-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    text-align: center;
    gap: 40px;
}

.info-item img {
    width: 60px;
    height: 60px;
    display: block;
}

.info-item a {
    color: var(--gray1);
    text-decoration: none;

    max-width: 280px;
    text-align: left;
}

.info-item a:hover {
    text-decoration: underline;
}