@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.19 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #d4d9d6;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: Montserrat, sans-serif;
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #a8adaa;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #a8adaa;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

*{
  font-family: Montserrat, sans-serif;
}

html{
  margin-left: auto;
  margin-right: auto;
  max-width: 1700px;
  scroll-behavior: smooth;
}

body{
  --tw-bg-opacity: 1;
  background-color: rgb(245 245 245 / var(--tw-bg-opacity, 1));
}

.scroll::-webkit-scrollbar{
  height: 6px;
  width: 6px;
}

.scroll::-webkit-scrollbar-track{
  background-color: transparent;
}

.scroll::-webkit-scrollbar-thumb{
  border-radius: 10px;
  border-width: 1px;
  border-color: transparent;
  --tw-bg-opacity: 1;
  background-color: rgb(168 173 170 / var(--tw-bg-opacity, 1));
}

.header{
  position: sticky;
  top: 0px;
  z-index: 10;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  --tw-bg-opacity: 1;
  background-color: rgb(18 116 71 / var(--tw-bg-opacity, 1));
  padding: 20px;
}

@media (min-width: 480px){
  .header{
    gap: 40px;
  }
}

@media (min-width: 768px){
  .header{
    gap: 60px;
    padding: 30px;
  }
}

.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  border-top-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(25 153 94 / var(--tw-border-opacity, 1));
  --tw-bg-opacity: 1;
  background-color: rgb(18 116 71 / var(--tw-bg-opacity, 1));
  padding: 40px;
  --tw-text-opacity: 1;
  color: rgb(245 245 245 / var(--tw-text-opacity, 1));
}

@media (min-width: 480px){
  .footer{
    padding: 60px;
  }
}

.main{
  display: flex;
  min-height: 80vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

@media (min-width: 480px){
  .main{
    padding: 60px;
  }
}

@media (min-width: 768px){
  .main{
    padding: 80px;
  }
}

.main-dados{
  min-height: 80vh;
  padding: 30px;
}

@media (min-width: 480px){
  .main-dados{
    padding: 60px;
  }
}

@media (min-width: 768px){
  .main-dados{
    padding: 80px;
  }
}

.main-shop,
    .main-product{
  padding: 30px;
}

@media (min-width: 480px){
  .main-shop,
    .main-product{
    padding: 60px;
  }
}

@media (min-width: 768px){
  .main-shop,
    .main-product{
    padding: 80px;
  }
}

@media not all and (min-width: 768px){
  .margin-top-header{
    margin-top: 100px;
  }
}

/* texts */

/*
    .text-xxs-regular { @apply text-[0.875rem] leading-[1rem] font-normal; }
    .text-xxs-medium { @apply text-[0.875rem] leading-[1rem] font-medium; }
    .text-xs-regular { @apply text-[1rem] leading-[1.25rem] font-normal; }
    .text-xs-medium { @apply text-[1rem] leading-[1.25rem] font-medium; }
    .text-sm-regular { @apply text-[1.25rem] leading-[1.5rem] font-normal; }
    .text-sm-medium { @apply text-[1.25rem] leading-[1.5rem] font-medium; }
    .text-sm-semiBold { @apply text-[1.25rem] leading-[1.5rem] font-semibold; }
    .text-md-regular { @apply text-[1.375rem] leading-[1.7rem] font-normal; }
    .text-md-medium { @apply text-[1.375rem] leading-[1.7rem] font-medium; }
    .text-md-semiBold { @apply text-[1.375rem] leading-[1.7rem] font-semibold; }
    .text-lg-regular { @apply text-[1.625rem] leading-[2rem] font-normal; }
    .text-lg-medium { @apply text-[1.625rem] leading-[2rem] font-medium; }
    .text-lg-semiBold { @apply text-[1.625rem] leading-[2rem] font-semibold; }
    .text-xl-regular { @apply text-[1.875rem] leading-[2.3rem] font-normal; }
    .text-xl-medium { @apply text-[1.875rem] leading-[2.3rem] font-medium; }
    .text-xl-semiBold { @apply text-[1.875rem] leading-[2.3rem] font-semibold; }

    .title-xs-semiBold { @apply text-[2rem] leading-[2.5rem] font-semibold; }
    .title-xs-bold { @apply text-[2rem] leading-[2.5rem] font-bold; }
    .title-sm-semiBold { @apply text-[2.25rem] leading-[2.75rem] font-semibold; }
    .title-sm-bold { @apply text-[2.25rem] leading-[2.75rem] font-bold; }
    .title-md-semiBold { @apply text-[2.5rem] leading-[3.125rem] font-semibold; }
    .title-md-bold { @apply text-[2.5rem] leading-[3.125rem] font-bold; }
    .title-xl-semiBold { @apply text-[3.25rem] leading-[4rem] font-semibold; }
    .title-xl-bold { @apply text-[3.25rem] leading-[4rem] font-bold; }
    */

.shadow{
  --tw-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  --tw-shadow-colored: 0 1px 2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

/* components */

.button-google{
  margin-top: 10px;
  display: flex;
  width: 100%;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  gap: 50px;
  border-radius: 10px;
  --tw-bg-opacity: 1;
  background-color: rgb(212 217 214 / var(--tw-bg-opacity, 1));
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  --tw-text-opacity: 1;
  color: rgb(47 51 49 / var(--tw-text-opacity, 1));
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}

.button-google:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(232 235 233 / var(--tw-bg-opacity, 1));
}

.button-google img{
  max-height: 40px;
  max-width: 40px;
}

.button-green-form,
    .button-green{
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  --tw-text-opacity: 1;
  color: rgb(245 245 245 / var(--tw-text-opacity, 1));
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}

.button-green-form{
  --tw-bg-opacity: 1;
  background-color: rgb(18 116 71 / var(--tw-bg-opacity, 1));
}

.button-green-form:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(25 153 94 / var(--tw-bg-opacity, 1));
}

.button-green{
  --tw-bg-opacity: 1;
  background-color: rgb(11 80 48 / var(--tw-bg-opacity, 1));
}

.button-green:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(25 153 94 / var(--tw-bg-opacity, 1));
}

.button-gray{
  width: 100%;
  border-radius: 10px;
  --tw-bg-opacity: 1;
  background-color: rgb(212 217 214 / var(--tw-bg-opacity, 1));
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  --tw-text-opacity: 1;
  color: rgb(3 43 24 / var(--tw-text-opacity, 1));
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}

.button-gray:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(18 116 71 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(245 245 245 / var(--tw-text-opacity, 1));
}

/* form inputs (green background variant) */

.input-form{
  width: 100%;
  cursor: pointer;
  border-bottom-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgb(195 199 197 / var(--tw-border-opacity, 1));
  background-color: transparent;
  padding-top: 15px;
  padding-bottom: 5px;
  --tw-text-opacity: 1;
  color: rgb(232 235 233 / var(--tw-text-opacity, 1));
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.input-form:focus{
  border-radius: 10px;
  border-width: 3px;
  --tw-border-opacity: 1;
  border-color: rgb(217 251 231 / var(--tw-border-opacity, 1));
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.textarea-form{
  height: 140px;
  width: 100%;
  cursor: pointer;
  border-radius: 10px;
  border-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgb(195 199 197 / var(--tw-border-opacity, 1));
  background-color: transparent;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  --tw-text-opacity: 1;
  color: rgb(232 235 233 / var(--tw-text-opacity, 1));
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.textarea-form:focus{
  border-width: 3px;
  --tw-border-opacity: 1;
  border-color: rgb(217 251 231 / var(--tw-border-opacity, 1));
}

.textarea-form::-moz-placeholder{
  font-size: 1.625rem;
  font-weight: 500;
  line-height: 2rem;
  --tw-text-opacity: 1;
  color: rgb(168 173 170 / var(--tw-text-opacity, 1));
}

.textarea-form::placeholder{
  font-size: 1.625rem;
  font-weight: 500;
  line-height: 2rem;
  --tw-text-opacity: 1;
  color: rgb(168 173 170 / var(--tw-text-opacity, 1));
}

/* password input container */

.content-password > div{
  position: relative;
}

.content-password input{
  padding-right: 60px;
}

.content-password input:focus{
  padding-right: 60px;
}

.content-password img{
  position: absolute;
  top: 10px;
  right: 10px;
  height: 30px;
  width: 30px;
}

.input-form:focus ~ img{
  top: 20px;
  right: 20px;
}

/* form inputs (white background variant) */

.inputs-row{
  display: flex;
  align-items: center;
  gap: 20px;
}

@media (max-width: 480px){
  .inputs-row{
    flex-wrap: wrap;
  }
}

.content-formWhite{
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
}

.content-formWhite > label{
  width: 100%;
  --tw-text-opacity: 1;
  color: rgb(47 51 49 / var(--tw-text-opacity, 1));
}

.content-formWhite > input{
  width: 100%;
  border-radius: 10px;
  border-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgb(195 199 197 / var(--tw-border-opacity, 1));
  background-color: transparent;
  padding: 15px;
  --tw-text-opacity: 1;
  color: rgb(135 140 137 / var(--tw-text-opacity, 1));
  outline: 2px solid transparent;
  outline-offset: 2px;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}

.content-formWhite > input:hover{
  --tw-border-opacity: 1;
  border-color: rgb(168 173 170 / var(--tw-border-opacity, 1));
}

.content-formWhite > input:focus{
  --tw-border-opacity: 1;
  border-color: rgb(135 140 137 / var(--tw-border-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(135 140 137 / var(--tw-text-opacity, 1));
}

.content-formWhite > input::-moz-placeholder{
  --tw-text-opacity: 1;
  color: rgb(168 173 170 / var(--tw-text-opacity, 1));
}

.content-formWhite > input::placeholder{
  --tw-text-opacity: 1;
  color: rgb(168 173 170 / var(--tw-text-opacity, 1));
}

/* scheduling days */

.day-not{
  --tw-bg-opacity: 1 !important;
  background-color: rgb(128 0 32 / var(--tw-bg-opacity, 1)) !important;
  --tw-text-opacity: 1 !important;
  color: rgb(212 217 214 / var(--tw-text-opacity, 1)) !important;
}

.today{
  --tw-bg-opacity: 1 !important;
  background-color: rgb(3 43 24 / var(--tw-bg-opacity, 1)) !important;
  --tw-text-opacity: 1 !important;
  color: rgb(232 235 233 / var(--tw-text-opacity, 1)) !important;
}

.open-hour{
  --tw-text-opacity: 1;
  color: rgb(11 80 48 / var(--tw-text-opacity, 1));
}

.close-hour{
  --tw-text-opacity: 1;
  color: rgb(128 0 32 / var(--tw-text-opacity, 1));
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.inset-0{
  inset: 0px;
}

.z-10{
  z-index: 10;
}

.mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.ml-auto{
  margin-left: auto;
}

.mb-\[15px\]{
  margin-bottom: 15px;
}

.mb-\[60px\]{
  margin-bottom: 60px;
}

.mt-\[30px\]{
  margin-top: 30px;
}

.mt-\[60px\]{
  margin-top: 60px;
}

.block{
  display: block;
}

.flex{
  display: flex;
}

.grid{
  display: grid;
}

.hidden{
  display: none;
}

.h-\[30px\]{
  height: 30px;
}

.max-h-\[300px\]{
  max-height: 300px;
}

.min-h-\[800px\]{
  min-height: 800px;
}

.w-\[100vw\]{
  width: 100vw;
}

.w-\[30px\]{
  width: 30px;
}

.w-fit{
  width: -moz-fit-content;
  width: fit-content;
}

.w-full{
  width: 100%;
}

.max-w-\[1300px\]{
  max-width: 1300px;
}

.max-w-\[400px\]{
  max-width: 400px;
}

.max-w-\[450px\]{
  max-width: 450px;
}

.flex-\[1_1_100px\]{
  flex: 1 1 100px;
}

.flex-\[1_1_300px\]{
  flex: 1 1 300px;
}

.cursor-pointer{
  cursor: pointer;
}

.flex-wrap{
  flex-wrap: wrap;
}

.items-end{
  align-items: flex-end;
}

.items-center{
  align-items: center;
}

.justify-center{
  justify-content: center;
}

.gap-\[20px\]{
  gap: 20px;
}

.gap-\[15px\]{
  gap: 15px;
}

.gap-\[40px\]{
  gap: 40px;
}

.gap-\[50px\]{
  gap: 50px;
}

.gap-\[60px\]{
  gap: 60px;
}

.rounded-\[10px\]{
  border-radius: 10px;
}

.rounded-\[12px\]{
  border-radius: 12px;
}

.rounded-t-\[10px\]{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.border-y-\[4px\]{
  border-top-width: 4px;
  border-bottom-width: 4px;
}

.border-b-\[4px\]{
  border-bottom-width: 4px;
}

.border-green-400{
  --tw-border-opacity: 1;
  border-color: rgb(25 153 94 / var(--tw-border-opacity, 1));
}

.bg-\[var\(--shadow\)\]{
  background-color: var(--shadow);
}

.bg-\[var\(--shadowItem\)\]{
  background-color: var(--shadowItem);
}

.bg-gray-100{
  --tw-bg-opacity: 1;
  background-color: rgb(232 235 233 / var(--tw-bg-opacity, 1));
}

.bg-gray-200{
  --tw-bg-opacity: 1;
  background-color: rgb(212 217 214 / var(--tw-bg-opacity, 1));
}

.bg-\[url\(\'src\/images\/introduction\.png\'\)\]{
  background-image: url('src/images/introduction.png');
}

.bg-cover{
  background-size: cover;
}

.bg-center{
  background-position: center;
}

.bg-no-repeat{
  background-repeat: no-repeat;
}

.object-cover{
  -o-object-fit: cover;
     object-fit: cover;
}

.p-\[30px\]{
  padding: 30px;
}

.text-center{
  text-align: center;
}

.text-2xl{
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl{
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-4xl{
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-5xl{
  font-size: 3rem;
  line-height: 1;
}

.text-base{
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-xl{
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.font-bold{
  font-weight: 700;
}

.font-medium{
  font-weight: 500;
}

.font-normal{
  font-weight: 400;
}

.font-semibold{
  font-weight: 600;
}

.uppercase{
  text-transform: uppercase;
}

.capitalize{
  text-transform: capitalize;
}

.text-gray-100{
  --tw-text-opacity: 1;
  color: rgb(232 235 233 / var(--tw-text-opacity, 1));
}

.text-gray-800{
  --tw-text-opacity: 1;
  color: rgb(47 51 49 / var(--tw-text-opacity, 1));
}

.text-gray-900{
  --tw-text-opacity: 1;
  color: rgb(32 36 34 / var(--tw-text-opacity, 1));
}

.shadow{
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.transition-all{
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-transform{
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-200{
  transition-duration: 200ms;
}

.hover\:scale-105:hover{
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:scale-\[1\.04\]:hover{
  --tw-scale-x: 1.04;
  --tw-scale-y: 1.04;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:border-b-\[2px\]:hover{
  border-bottom-width: 2px;
}

.hover\:border-gray-100:hover{
  --tw-border-opacity: 1;
  border-color: rgb(232 235 233 / var(--tw-border-opacity, 1));
}

.hover\:pb-\[3px\]:hover{
  padding-bottom: 3px;
}

.focus\:outline-none:focus{
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.focus\:ring-4:focus{
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(4px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.focus\:ring-green-400:focus{
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(25 153 94 / var(--tw-ring-opacity, 1));
}

@media (min-width: 768px){
  .md\:flex{
    display: flex;
  }

  .md\:p-\[60px\]{
    padding: 60px;
  }
}

@media (min-width: 1024px){
  .lg\:p-\[80px\]{
    padding: 80px;
  }
}