.your-account_menu,
.personal-data,
.address,
.cards,
.email,
.phone,
.password,
.address,
.address-work,
.add-address,
.cards-registered,
.cards-registered > div{
    width: 100%;
}

.cards-registered > div{
    max-width: 100%;
}

.your-account_menu a{
    display: flex;
    align-items: center;
    width: 100%;

    background-color: var(--gray3);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    gap: 20px;
    padding: 30px;
    margin: auto;
    
}

.your-account_menu h1,
.address-text h1{
    color: var(--gray9);
}

.personal-data a{
    display: flex;
    align-items: center;

    background-color: var(--gray2);
    gap: 20px;
    padding: 30px;
    margin: auto;
}

.personal-data h1,
.address h1,
.cards h1,
.text-section p,
.address-text p {
    color: var(--gray8);
}

.address a {
    display: flex;
    align-items: center;

    background-color: var(--gray2);
    gap: 20px;
}

.cards a {
    display: flex;
    align-items: center;

    background-color: var(--gray2);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    gap: 20px;
    padding: 30px;
    margin: auto;
}

/* menu Dados pessoais */
.h1-data-personal {
    color: var(--gray10);

    margin-bottom: 40px;
}

.email {
    display: flex;
    align-items: flex-start;

    background-color: var(--gray2);
    padding: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.text-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
}

.email-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.change a {
    color: var(--blue-link);
    margin-left: 20px;
}

.phone-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.phone {
    display: flex;
    align-items: flex-start;

    background-color: var(--gray3);
    padding: 30px;
}

.password {
    display: flex;
    align-items: flex-start;

    background-color: var(--gray2);
    padding: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.password-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

/* pagina do endereço */

.address {
    display: flex;
    align-items: center;

    background-color: var(--gray2);
    padding: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    cursor: pointer;
}

.address-text {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-left: 20px;
}

.address-menu-button {
    margin-left: auto;
    margin-bottom: auto;

    cursor: pointer;
}

.address-work {
    display: flex;
    align-items: center;

    background-color: var(--gray2);
    padding: 30px;

    cursor: pointer;
}

.add-address {
    background-color: var(--gray2);

    padding: 30px;
    border-top: 3px solid var(--gray5);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.add-address a{
    color: var(--blue-link);
}