@import 'header.css';
@import 'components.css';
@import 'footer.css';

@import 'home/inicio.css';
@import 'home/NossosServicos.css';
@import 'home/petShop.css';
@import 'home/SobreNos.css';

@import 'cadastro/forms-conta.css';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --font-sans: "Montserrat", sans-serif;

    --white: #fcfcfc;
    --gray1: #f5f5f5;
    --gray2: #e8ebe9;
    --gray3: #d4d9d6;
    --gray4: #c3c7c5;
    --gray5: #a8adaa;
    --gray6: #878c89;
    --gray7: #606662;
    --gray8: #454a47;
    --gray9: #2f3331;
    --gray10: #202422;
    --gray11: #121413;

    --light-green: #d9fbe7;
    --green1: #08f66a;
    --green2: #16cb60;
    --green3: #1fa757;
    --green4: #25834c;
    --green5: #256d43;
    --green6: #26573a;
    --green7: #25af35;

    --blue-link: #1f59e0;
    --blue-visa: #104ad0;

    --red-alert: #800020;

    --shadow: rgba(0, 0, 0, 0.25);
    --shadowItem: rgba(0, 0, 0, 0.5);
}

html{
    font-family: var(--font-sans);
    
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

label, input{
    display: block;
}

input:focus,
textarea:focus{
    outline: none;
}

a{
    display: inline-block;
}

body{
    background-color: var(--gray1);
}

@media (max-width: 1024px){
    
}

@media (max-width: 768px){

}

@media (max-width: 480px){

}