@import '../style.css';

.container-cadastro {
    display: flex;
    padding: 5px; 
    border: 1px solid var(--gray3); 
    border-radius: 10px;
    
    width: 550px;
    margin: 60px auto;
    background-color: var(--green6);
    color: var(--white);
}

.div-cadastrar {
    display: flex;
    flex-direction: column;
    
    gap: 10px;
    width: 100%;
    margin: 10px 40px;
}

.titulo {
    margin-bottom: 15px;
}

.form-cadastro {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input {
   
    border-bottom: 2px solid var(--gray4);
    background-color: var(--green6);
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 25px;
    color: var(--white);
}

.label {
    margin-top: 20px; 

}

.btn-google {
    margin-top: 10px;
    width: 100%;
    background-color: var(--gray3);
    padding: 12px;
    border-radius: 5px;
    border: none;
    font-family: var(--font-sans);
    font-weight: bold;
    cursor:pointer;
    font-size: 17px;
    color: var(--gray9);

}


.cadastro-google {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-google:hover {
   background-color: var(--gray5);
   transition: 0.5s;
   color:var(--green6);
}

.div-btn-button {
    margin-top: 20px;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    
}

.btn-finalizar {
    width: 30%;
    background-color: var(--green5);
    padding: 12px;
    border-radius: 5px;
    border: none;
    font-family: var(--font-sans);
    font-weight: bold;
    cursor:pointer;
    font-size: 17px;
    color: var(--white);
    text-align: center;
}


.btn-finalizar:hover {
    background-color: var(--green4);
    transition: 0.5s;
}