.container-cadastro {
    display: flex;
    padding: 5px; 
    border: 1px solid var(--gray3); 
    border-radius: 10px;
    
    width: 550px;
    margin: 60px auto;
    background-color: var(--green6);
    color: var(--white);
}

.div-cadastrar {
    display: flex;
    flex-direction: column;
    
    gap: 10px;
    width: 100%;
    margin: 10px 40px;
}

.form-cadastro {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-cadastrar label{
    margin-top: 20px; 
}

/* .send-form > button:last-of-type {
    width: fit-content;
    margin-top: 50px;
    padding: 12px 24px;
    text-align: center;

    color: var(--gray1);
    border-radius: 10px;
    background-color: var(--green5);

    cursor: pointer;
    transition: 0.2s;
}

.send-form > button:last-of-type:hover {
    background-color: var(--green4);
} */